<div class="container">
  <h3>Department List</h3>
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for(d of departmentList;track d.id){
          <tr>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>
              <button type="button" (click)="editDepartment(d)" class="btn btn-info">Edit</button> &nbsp;
              <button type="button" (click)="deleteDepartment(d.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <form (ngSubmit)="saveDepartment()">
        <div class="form-floating mb-3">
          <input type="number" class="form-control" [(ngModel)]="department.id" name="id" id="id" placeholder="Dept Id"
            readonly>
          <label for="id">Dept Id</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [(ngModel)]="department.name" name="name" id="name"
            placeholder="Dept Name">
          <label for="id">Dept Name</label>
        </div>
        <div class="form-floating mb-3">
          <button type="submit" *ngIf="!isUpdatebtn" class="btn btn-outline-primary">Add</button> &nbsp;
          <button type="submit" *ngIf="isUpdatebtn" class="btn btn-outline-primary">Update</button> &nbsp;
          <button type="button" class="btn btn-outline-primary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>